<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test page</title>
</head>
<body>

<form class="form-inline" method="POST" action = "{{ url_for('result')}}">
    <div class="select">
        <select name="comp_select" class="selectpicker form-control">
            {% for o in data %}
            <option value="{{o.id}}"> {{ o.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn">Go</button>
</form>

</body>
</html>